.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    position: sticky;
    overflow: auto;
}

.sidebar > span {
    margin-bottom: 20px;
}

.content > img {
    max-width: 100%;
    object-fit: cover;
}